html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#game-canvas {
    image-rendering: pixelated;
}

/* #game-container,
#canvas-container,
#game-canvas {
    aspect-ratio: 256/240;
} */

/* #game-container {
    margin: 0;
    padding: 0;
    width: calc(100vw - 30px);
    height: calc((100vw / (256/240)) - 30px);
    display: flex;
    align-items: stretch;
    border: 15px solid lightgrey;
} */

/* #canvas-container {
    flex: 1;
    border: 5px solid red;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
} */

/* #game-canvas {
    width: calc(100vw / (256/240));
    height: auto;
    display: block;
    border: 1px solid red;
    object-fit: contain;
} */

/* #hud-container {
    width: calc(100vw - 10px);
    border: 5px solid green;
} */

/* #game-container {
    height: calc(100vh - 30px);
} */

/* #hud-container {
    height: calc(100vh - 32px);
} */

/* #inventory {
    width: 201px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
} */

/* #weapon-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid whitesmoke;
    width: 201px;
    height: 300px;
} */

/* .weapon-slot {
    width: 67px;
    margin: 0;
    padding: 0;
    height: 100px;
} */

/* .weapon-container {
    width: 57px;
    height: calc(96px - 10px);
    margin: 5px auto;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
} */

/* .equipped-weapon {
    background-color: #6A7793;
} */

/* .weapon-slot .weapon-image-container {
    width: 57px;
    height: 55px;
    margin: 0 auto;
} */


/* .weapon-slot .weapon-image-container img {
    width: 48px;
    height: 48px;
    margin: 3.5px;
} */

/* .weapon-slot .weapon-name-container {
    width: 57px;
    height: 12.5px;
    font-size: 10px;
    text-align: center;
} */

/* .durability-container {
    width: 57px;
    height: 15px;
} */

/* .weapon-slot .durability-meter {
    width: 50px;
    height: 13px;
    margin: 0 auto;
    border-radius: 2px;
    border: 2px solid #ccc;
} */

/* .durability-meter-fill {
    height: 100%;
} */