body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
    /* width: 768px;
    height: 768px; */
    /* height: 720px; */
    border: 1px solid #000; 
    aspect-ratio: 256/240;
}